{%- liquid
  assign image_obj = image
  assign aspect = aspect | default: '16/10'
  assign classes = classes | default: ''
  assign img_class = img_class | default: ''

  assign aspect_class = ''
  case aspect
    when '16/10'
      assign aspect_class = 'aspect-[16/10]'
    when '1/1'
      assign aspect_class = 'aspect-[1/1]'
    when '4/3'
      assign aspect_class = 'aspect-[4/3]'
    when '3/4'
      assign aspect_class = 'aspect-[3/4]'
    when 'auto'
      assign aspect_class = ''
    else
      assign aspect_class = 'aspect-[16/10]'
  endcase

  assign wrapper_class = 'w-full'
  if aspect_class != ''
    assign wrapper_class = wrapper_class | append: ' ' | append: aspect_class
  endif
  if classes != ''
    assign wrapper_class = wrapper_class | append: ' ' | append: classes
  endif

  if img_class == ''
    if aspect == 'auto'
      assign final_img_class = 'w-full h-auto'
    else
      assign final_img_class = 'w-full h-full object-cover'
    endif
  else
    assign final_img_class = img_class
  endif

  assign placeholder_class = 'w-full h-full bg-current/5 border border-current/10'
  if aspect_class == ''
    assign placeholder_class = placeholder_class | append: ' min-h-[200px]'
  endif
-%}

<div class="{{ wrapper_class }}">
  {%- if image_obj != blank -%}
    {{ image_obj | image_url: width: 2200 | image_tag: class: final_img_class, loading: 'lazy' }}
  {%- else -%}
    <div class="{{ placeholder_class }}"></div>
  {%- endif -%}
</div>
